{% extends 'water_site/base.html' %}
{% load static i18n %}
{% load static %}

{% block container %}
<link rel="stylesheet" href="{% static 'css/news_detail.css'%}">
{% endblock container %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/new_detail.css'%}">
    <main>
        <a href="{% url 'news' %}" class="button-back">
            <img src="{% static 'img/shop/back.png' %}">
        </a>

        <div class="main-information">
            <img class="photo-of-news" src="{{ news.image.url }}" alt="">
            <h1>{{ news.name }}</h1>
            <div class="extra-info">
                <a href="{{ news.givenFrom }}">{{ news.givenFrom }}</a>
                <a href="givenFromUrl">{{ news.givenFrom }}</a>                
            </div>
            <br>
            <p>{{ news.description }}</p>
        </div>
    </main>
</body>
</html>
{% endblock content %}
